<% @posts.each do |post| %>
  <li><%= post.title %>
  <br><%= post.user.username %>
  <br><%= post.body %>
  </li>
<% end %>

<%= link_to 'New User', new_user_path, class: 'btn btn-success' %>
<br><br>
<%= link_to 'New Post', new_post_path, class: 'btn btn-success' %>
